<h3>project one</h3>
<%
  cu = session[:current_user]
%>
<table border="0">
  <tr>
    <td>
      <div>Wellcom :
        <% if cu %>
            <%= cu['name'] %>
        <% else %>
            游客
        <% end %>
        !
      </div>
    </td>
    <% if cu %>
        <td>
          <div>
            <a href="/personal_homepage/new?home_user_id=<%= cu['id'] %>">
              <img src="<%= cu['head_picture'] %>">
            </a>
          </div>
        </td>
    <% end %>
  </tr>
</table>
<div style="color: red">
  <%= flash[:error_info] %>
</div>
<!-- 改成ajax，error时只弹出信息，不刷新页面 -->
<%= form_for :session, url: :sessions_create do |f| %>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </p>
    <% if cu %>
        <p><%= f.button '切换用户' %></p>
    <% else %>
        <p><%= f.button '登录' %></p>
    <% end %>

<% end %>

<!-- 改成ajax，只刷新tweets -->
<%= form_for :session, url: :sessions_post_tweet do |f| %>
    <%= kindeditor_tag :content, '', :simple_mode => true %>
    <p><%= f.button '发布' %></p>
<% end %>

<div id="tweets">
  <%
    if cu
      tweets_list = Tweet.list_tweets(cu['id'])
    else
      tweets_list = Tweet.list_tweets(-1)
    end

    tweets_list.each do |it|
  %>
      <p><%= it[:username] %> 发表:</p>
      <p>转发自:<%= it[:tweet][:transmit_from_id] %></p>
      <div id=" <%= it[:tweet][:id] %> ">
        <%= raw it[:tweet][:contents] %>
      </div>
      <p>点赞数:<%= it[:tweet][:thumbs_up_num] %> 评论数:<%= it[:tweet][:comment_num] %></p>
      <p>转发数:<%= it[:tweet][:transmit_num] %></p>
      <%= form_for :session, url: :sessions_post_comment do |f| %>
          <%= kindeditor_tag :comment_content, '', :simple_mode => true %>
          <p>
            <%= f.hidden_field :tweet_id, :value => it[:tweet][:id] %>
          </p>
          <p><%= f.button '评论' %></p>
      <% end %>
      <%
        comments_list = Comment.list_comments(it[:tweet][:id])
        comments_list.each do |item|
      %>
          <div id="<%= item[:top_comment][:id] %>">
            <p>----<%= raw item[:username] %> 评论:</p>
            <div>----<%= raw item[:top_comment][:contents] %></div>
            <p>----点赞数:<%= item[:top_comment][:thumbs_up_num] %> 回复数:<%= item[:top_comment][:replyed_num] %></p>
          </div>
          <%
            item[:elements].each do |element|
          %>
              <div id="<%= element[:comment][:id] %>">
                <p>--------<%= raw element[:username] %> 回复 <%= raw element[:reply_username] %> 评论:</p>
                <div>--------<%= raw element[:comment][:contents] %></div>
                <p>--------点赞数:<%= element[:comment][:thumbs_up_num] %> 回复数:<%= element[:comment][:replyed_num] %></p>
              </div>
          <%
            end
          %>
          <br/>
      <%
        end
      %>
      <br/>
  <%
    end

  %>
</div>
