<h3>project one</h3>
<%
  cu = session[:current_user]
%>
<table border="0">
  <tr>
    <td>
      <div>Wellcom :
        <% if cu %>
            <%= cu['name'] %>
        <% else %>
            游客
        <% end %>
        !
      </div>
    </td>
    <% if cu %>
        <td>
          <div>
            <img src="<%= cu['head_picture'] %>">
          </div>
        </td>
    <% end %>
  </tr>
</table>
<div style="color: red">
  <%= flash[:error_info] %>
</div>
<!-- 改成ajax，error时只弹出信息，不刷新页面 -->
<%= form_for :session, url: :sessions_create do |f| %>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </p>
    <% if cu %>
        <p><%= f.button '切换用户' %></p>
    <% else %>
        <p><%= f.button '登录' %></p>
    <% end %>

<% end %>

<!-- 改成ajax，只刷新tweets -->
<%= form_for :session, url: :sessions_post_tweet do |f| %>
    <%= kindeditor_tag :content, '', :simple_mode => true %>
    <p><%= f.button '发布' %></p>
<% end %>

<div id="tweets">
  <%
    if cu
      tweets = Tweet.list_tweets(cu['id'])
    else
      tweets = Tweet.list_tweets(-1)
    end

    tweets.each do |tweet|
  %>
      <div id=" <%= tweet[:id] %> ">
        <%= raw tweet[:contents] %>
      </div>
      <p>post user_id:<%= tweet[:user_id] %></p>
      <p>thumbs up num:<%= tweet[:thumbs_up_num] %></p>
      <p>transmit num:<%= tweet[:transmit_num] %></p>
      <p>transmit from id:<%= tweet[:transmit_from_id] %></p>
  <%
    end

  %>
</div>
