<%
  @home_user_id = params[:home_user_id]
  @home_user = User.get_user(params[:home_user_id])
  cu = session[:current_user]
  follows = Follow.get_follow(@home_user_id)
  fans = Follow.get_fans(@home_user_id)
  if cu
    user_id = cu['id']
  else
    user_id = -1
  end
%>

<header class="header">
  <table class="table_header">
    <tr>
      <td>
        <div class="logo">
          <span class="M">M</span>
          <span class="y">y</span>
          <span class="t1">T</span>
          <span class="t2">T</span>
        </div>
      </td>
      <td>
        <table class="table_search">
          <tr>
            <td>
              <input type="text" id="input_search" class="input_search" placeholder="搜索(动态,用户)" autocomplete="off">
            </td>
            <td>
              <button type="button" class="fa fa-search search_btn" id="search_btn">搜索</button>
            </td>
          </tr>
        </table>
      </td>
      <td class="login_register">
        <table>
          <tr>
            <% if user_id != -1 %>
                <td>
                  <span><%= cu['name'] %></span>
                </td>
                <td>
                  <a href="/personal_homepage/new?home_user_id=<%= user_id %>">
                    <img class="head_picture" src="<%= cu['head_picture'] %>">
                  </a>
                </td>
                <td>
                  <span></span>
                </td>
                <% if cu['unread_info_num'].to_i > 0 %>
                    <td>
                      <img class="new_mail" src="/pictures/new-message.png">
                    </td>
                    <td>
                      <span class="red_unread_num"><%= cu['unread_info_num'] %></span>
                    </td>
                <% end %>
            <% end %>
            <td class="empty_span">
              <span></span>
            </td>
            <% if user_id == -1 %>
                <td>
                  <input type="text" id="name" class="name" placeholder="Name">
                </td>
                <td>
                  <input type="password" placeholder="Password" class="password" id="password">
                </td>
                <td>
                  <button type="button" id="login" class="login">登录</button>
                </td>
            <% else %>
                <td>
                  <button type="button" id="logout" class="logout">退出</button>
                </td>
            <% end %>
            <td>
              <a href="/applicants/new">注册</a>
            </td>
          </tr>
        </table>
      </td>

    </tr>
  </table>
  <div class="top-line"></div>
</header>
<div id="personal_main">
  <br>
  <div class="personal_info">
    <table class="user">
      <tr>
        <td>
          <h4 class="personal_name"><%= raw @home_user[:name] %>&nbsp;&nbsp;</h4>
        </td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>
          <span>I D:<%= raw @home_user[:id] %></span>
        </td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>
          <a href="/personal_homepage/new?home_user_id=<%= @home_user[:id] %>">
            <img class="mid_picture" id="home_user_head_picture" src="<%= @home_user[:head_picture] %>">
          </a>
        </td>
      </tr>
    </table>
    <% if cu['id'].to_s == @home_user_id %>
        <input type="text" placeholder="New Name" id="newname">
        <button type="button" id="update_name_btn">修改名字</button>
        <br>
        <input type="password" placeholder="New Password" id="npassword">
        <input type="password" placeholder="Repeat" id="npassword_repeat">
        <button type="button" id="update_password_btn">修改密码</button>
        <br>
        <form action="/personal_homepage/update_head_picture" method="post" id="uploadForm" enctype="multipart/form-data">
          <input type="file" id="img_upload" name="img_upload" accept=".jpg,.gif,.png,.jpeg">
          <button type="button" id="update_head_picture_btn">修改头像</button>
        </form>
    <% else %>
        <div class="functions">
          <div id="send_im_info">
            <input type="text" placeholder="消息" id="send_im">
            <button type="button" id="send_im_btn">发送私信(阅后即焚)</button>
          </div>
          <%
            if Follow.is_follow(@home_user_id, cu['id'])
          %>
              <div id="unfollow_div">
                <div id="unfollow_text"></div>
                <button type="button" id="unfollow_btn">取关</button>
              </div>
          <% else %>
              <div id="follow_div">
                <div id="follow_text"></div>
                <button type="button" id="follow_btn">关注</button>
              </div>
          <% end %>
        </div>
    <% end %>
  </div>
  <br>
  <div id="tags">
    <%
      if cu['id'].to_s == @home_user_id
    %>
        <h4 class="my_tags_text">我的标签:</h4>
        <br>
        <%
          tags = UserTag.list_tags(@home_user_id)
        %>
        <table id="tag_table">
          <tr id="tag_tr">
            <%
              tags.each do |tag|
            %>
                <td id="tag_td_<%= tag[:id] %>">
                  <div id="tag_div_<%= tag[:id] %>" class="tag_div">
                    <span id="tag_span_<%= tag[:id] %>" class="tag_span"><%= tag[:tag] %></span>
                    <img id="tag_btn_<%= tag[:id] %>" class="tag_btn" src="/pictures/delete.png">
                  </div>
                </td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <%
              end
            %>
          </tr>
        </table>
        <input type="text" placeholder="新标签" id="newtag">
        <button type="button" id="add_tag_btn">添加标签</button>
    <% else %>
        <h4>他(她)的标签:</h4>
        <br>
        <%
          tags = UserTag.list_tags(@home_user_id)
        %>
        <%
          if tags.empty?
        %>
            空
        <%
          end
        %>
        <table>
          <tr>
            <%
              tags.each do |tag|
            %>
                <td>
                  <div id="tag_div_<%= tag[:id] %>" class="tag_div">
                    <span id="tag_span_<%= tag[:id] %>" class="tag_span"><%= tag[:tag] %></span>
                  </div>
                </td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <%
              end
            %>
          </tr>
        </table>
    <% end %>
  </div>
  <br>
  <a id="new_mail"></a>
  <div class="personal_ims">
    <%
      if cu['id'].to_s == @home_user_id
        unread_im_infos = ImInfo.list_all_unread_im_info(@home_user_id)
        im_infos = unread_im_infos[:ims]
        if unread_im_infos[:num] > 0
    %>
            <div id="unread_im_infos">
              <div><h4>未读消息:</h4><span id="unread_num_span"><%= unread_im_infos[:num] %></span> 条
                <button id="read_all_btn">全部标为已读</button>
                <div id="read_all_text"></div>
              </div>
              <%
                im_infos.each do |im_info|
              %>
                  <p>from: <%= im_info[:username] %>
                    <a href="/personal_homepage/new?home_user_id=<%= im_info[:from] %>"><img class="personal_small_head" src="<%= im_info[:picture] %>"></a>
                  </p>
                  <%
                    im_info[:im].each do |info|
                  %>
                      <div id="btn<%= info[:id] %>" class="from_user_im">
                        <%= raw info[:info] %>
                        <button id="read_im_info_btn_<%= info[:id] %>" class="read_im_info_btn">标为已读</button>
                        <div id="read_im_info_text_<%= info[:id] %>" class="read_im_info_text"></div>
                      </div>
                  <%
                    end
                  %>
              <%
                end
              %>
            </div>
        <%
          end
        %>
    <%
      end
    %>
  </div>
  <br>
  <div class="follows">
    <% if cu['id'].to_s == @home_user_id %>
        <h4>我的关注:</h4>
    <% else %>
        <h4>他(她)的关注:</h4>
    <% end %>
    <table>
      <tr>
        <%
          i = 0
          while i < follows.length do
            u=follows[i]
            if i % 8 == 7
        %>
                <td>
                  <div id="follow<%= u[:id] %>">
                    <p>用户:<%= u[:name] %></p>
                    <p>I D:<%= u[:id] %></p>
                    <a href="/personal_homepage/new?home_user_id=<%= u['id'] %>">
                      <img class="user_head_big" src="<%= raw u[:head_picture] %>">
                    </a>
                  </div>
                </td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr>
            <%
              else
            %>
                <td>
                  <div id="follow<%= u[:id] %>">
                    <p>用户:<%= u[:name] %></p>
                    <p>I D:<%= u[:id] %></p>
                    <a href="/personal_homepage/new?home_user_id=<%= u['id'] %>">
                      <img class="user_head_big" src="<%= raw u[:head_picture] %>">
                    </a>
                  </div>
                </td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <%
              end
            %>
        <%
          i+=1
          end
        %>
        </tr>
        </table>
  </div>
  <br>
  <div class="fans">
    <% if cu['id'].to_s == @home_user_id %>
        <h4>我的粉丝:</h4>
    <% else %>
        <h4>他(她)的粉丝:</h4>
    <% end %>

    <table>
      <tr>
        <%
          i = 0
          while i < fans.length do
            u=fans[i]
            if i % 8 == 7
        %>
                <td>
                  <div id="follow<%= u[:id] %>">
                    <p>用户:<%= u[:name] %></p>
                    <p>I D:<%= u[:id] %></p>
                    <a href="/personal_homepage/new?home_user_id=<%= u['id'] %>">
                      <img class="user_head_big" src="<%= raw u[:head_picture] %>">
                    </a>
                  </div>
                </td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr>
            <%
              else
            %>
                <td>
                  <div id="follow<%= u[:id] %>">
                    <p>用户:<%= u[:name] %></p>
                    <p>I D:<%= u[:id] %></p>
                    <a href="/personal_homepage/new?home_user_id=<%= u['id'] %>">
                      <img class="user_head_big" src="<%= raw u[:head_picture] %>">
                    </a>
                  </div>
                </td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <%
              end
            %>
        <%
          i+=1
          end
        %>
        </tr>
        </table>
  </div>

  <div class="tweets" id="tweets">
    <% if cu['id'].to_s == @home_user_id %>
        <h4>我的动态:</h4>
    <% else %>
        <h4>他(她)的动态:</h4>
    <% end %>
    <%
      tweets_list = Tweet.list_my_tweets(@home_user_id)
      tweets_list.each do |it|
    %>
        <div id="tweet_<%= it[:tweet][:id] %>" class="tweet">
          <p class="recommend_p">
            <% if it[:recommend] %>
                <span class="recommend_text">推荐</span>
                <img class="recommend_img" src="/pictures/recommend.jpg">
            <% end %>
            <span><%= it[:username] %></span>
            <a href="/personal_homepage/new?home_user_id=<%= it[:tweet][:user_id] %>">
              <img class="head_picture_small" src="<%= it[:picture] %>">
            </a>
            <span>:</span>
            <% if user_id == it[:tweet][:user_id] %>
                <button id="delete_tweet_btn_<%= it[:tweet][:id] %>" class="delete_tweet_btn" type="button">删除动态</button>
            <% end %>
          </p>
          <div id="tweet_contents_<%= it[:tweet][:id] %>" class="tweet_contents">
            <%= raw it[:tweet][:contents] %>
          </div>
          <% if it[:tweet][:transmit_from_id] == -1 or it[:tweet][:transmit_from_id] == '-1' %>
              <% if user_id == it[:tweet][:user_id] %>
                  <div id="tweet_tags_<%= it[:tweet][:id] %>" class="tweet_tags">
                    <table id="table_tags_<%= it[:tweet][:id] %>" class="table_tags">
                      <tr id="tr_tags_<%= it[:tweet][:id] %>" class="tr_tags">
                        <td id="td_label_tag_<%= it[:tweet][:id] %>" class="td_label_tag">标签:</td>
                        <%
                          it[:tags].each do |tag|
                        %>
                            <td id="td_tags_<%= tag[:id] %>" class="td_tags">
                              <%= tag[:tag] %>
                              <img id="delete_tweet_tag_btn_<%= tag[:id] %>" class="delete_tweet_tag_btn" src="/pictures/delete.png">
                            </td>
                        <%
                          end
                        %>
                        <td id="td_add_tag_<%= it[:tweet][:id] %>" class="td_add_tag">
                          <input type="text" id="input_add_tag_<%= it[:tweet][:id] %>" class="input_add_tag" placeholder="新标签">
                          <button type="button" id="add_tag_btn_<%= it[:tweet][:id] %>" class="add_tweet_tag_btn">添加</button>
                        </td>
                      </tr>
                    </table>
                  </div>
              <% else %>
                  <div id="tweet_tags_<%= it[:tweet][:id] %>" class="tweet_tags">
                    <table id="table_tags_<%= it[:tweet][:id] %>" class="table_tags">
                      <tr id="tr_tags_<%= it[:tweet][:id] %>" class="tr_tags">
                        <td id="td_label_tag_<%= it[:tweet][:id] %>" class="td_label_tag">标签:</td>
                        <%
                          it[:tags].each do |tag|
                        %>
                            <td id="td_tags_<%= it[:tweet][:id] %>" class="td_tags">
                              <%= tag[:tag] %>
                            </td>
                        <%
                          end
                        %>
                      </tr>
                    </table>
                  </div>
              <% end %>
          <% end %>
          <% unless it[:tweet][:transmit_from_id] == -1 or it[:tweet][:transmit_from_id] == '-1' %>
              <br>
              <span class="transmit_p">转发自:<%= it[:transmit_name] %></span>
              <% if it[:transmit_tweet] == nil %>
                  <div id="transmit_tweet_contents_<%= it[:tweet][:id] %>_" class="transmit_tweet_contents">
                    原动态已删除
                  </div>
              <% else %>
                  <a href="/personal_homepage/new?home_user_id=<%= it[:transmit_uid] %>">
                    <img class="head_picture_small" src="<%= it[:transmit_picture] %>">
                  </a>
                  <span>:</span>
                  <div id="transmit_tweet_contents_<%= it[:tweet][:id] %>_<%= it[:transmit_tweet][:id] %>" class="transmit_tweet_contents">
                    <%= raw it[:transmit_tweet][:contents] %>
                  </div>
              <% end %>
          <% end %>
          <p id="b_p_tweet_<%= it[:tweet][:id] %>" class="b_p_tweet">
            <% if it[:thumbsup] %>
                <img id="tweet_unthumbsup_btn_<%= it[:tweet][:id] %>" class="tweet_unthumbsup_btn" src="/pictures/like2.png">
            <% else %>
                <img id="tweet_thumbsup_btn_<%= it[:tweet][:id] %>" class="tweet_thumbsup_btn" src="/pictures/like1.png">
            <% end %>
            <span id="tweet_thumbsup_num_span_<%= it[:tweet][:id] %>" class="tweet_thumbsup_num_span"><%= it[:tweet][:thumbs_up_num] %></span>
            <span id="comment_num_<%= it[:tweet][:id] %>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;评论:<%= it[:tweet][:comment_num] %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <img id="transmit_btn_<%= it[:tweet][:id] %>" class="transmit_btn" src="/pictures/transmit.png">
            <span><%= it[:tweet][:transmit_num] %></span>
          </p>
          <%
            comments_list = Comment.list_comments(it[:tweet][:id], user_id)
            comments_list.each do |item|
          %>
              <div id="div_comment_<%= item[:top_comment][:id] %>" class="d_top_comment">
                <p><%= raw item[:username] %> 评论:</p>
                <span class="top_comment_s"><%= raw item[:top_comment][:contents] %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <% if item[:thumbsup] %>
                    <img id="comment_unthumbsup_btn_<%= item[:top_comment][:id] %>" class="comment_unthumbsup_btn" src="/pictures/like2.png">
                <% else %>
                    <img id="comment_thumbsup_btn_<%= item[:top_comment][:id] %>" class="comment_thumbsup_btn" src="/pictures/like1.png">
                <% end %>
                <span id="comment_thumbsup_num_<%= item[:top_comment][:id] %>"><%= item[:top_comment][:thumbs_up_num] %></span>
                <span id="top_reply_num_<%= item[:top_comment][:id] %>">回复数:<%= item[:top_comment][:replyed_num] %></span>
                <img id="reply_top_comment_btn_<%= item[:top_comment][:id] %>" class="reply_top_comment_btn" src="/pictures/comment.png">
                <%
                  item[:elements].each do |element|
                %>
                    <div id="comment_<%= element[:comment][:id] %>" class="d_comment">
                      <span><%= raw element[:username] %> 回复 <%= raw element[:reply_username] %> :</span>
                      <span><%= raw element[:comment][:contents] %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                      <% if element[:thumbsup] %>
                          <img id="comment_unthumbsup_btn_<%= element[:comment][:id] %>" class="comment_unthumbsup_btn" src="/pictures/like2.png">
                      <% else %>
                          <img id="comment_thumbsup_btn_<%= element[:comment][:id] %>" class="comment_thumbsup_btn" src="/pictures/like1.png">
                      <% end %>
                      <span id="comment_thumbsup_num_<%= element[:comment][:id] %>"><%= element[:comment][:thumbs_up_num] %></span>
                      <span id="comment_reply_num_<%= element[:comment][:id] %>">回复数:<%= element[:comment][:replyed_num] %></span>
                      <img id="reply_comment_btn_<%= element[:comment][:id] %>" class="reply_comment_btn" src="/pictures/comment.png">
                    </div>
                <%
                  end
                %>
              </div>
          <%
            end
          %>
          <br/>
          <input type="text" id="post_comment_<%= it[:tweet][:id] %>" class="post_comment" placeholder="你的评论">
          <button type="button" id="post_comment_btn_<%= it[:tweet][:id] %>" class="post_comment_btn">评论</button>
        </div>
    <%
      end
    %>
  </div>
</div>
<script>
    $(document).ready(function () {
        $('.delete_tweet_btn').click(function (param) {
            var tweet_id = param.target.id.substr(17);
            $.ajax({
                type: "POST",
                url: "/sessions/delete_tweet",
                data: {"tweet_id": tweet_id},
                dataType: "json",
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //alert(JSON.stringify(XMLHttpRequest));
                    //alert(textStatus);add_tag_btn
                    alert(errorThrown);
                    //alert("失败");
                },
                success: function (data, textStatus) {
                    //alert(JSON.stringify(data));
                    //alert(textStatus);
                    var status = data.status.toString();
                    if ("success" === status) {
                        window.location.href = "/personal_homepage/new?home_user_id=<%= @home_user_id %>";
                    } else {
                        alert(data.info);
                    }
                }
            });
        });

        $('.add_tweet_tag_btn').click(function (param) {
            var tweet_id = param.target.id.substr(12);
            var newtag = document.getElementById("input_add_tag_" + tweet_id).value.toString();
            $.ajax({
                type: "POST",
                url: "/sessions/add_tag",
                data: {"newtag": newtag, "tweet_id": tweet_id},
                dataType: "json",
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //alert(JSON.stringify(XMLHttpRequest));
                    //alert(textStatus);
                    alert(errorThrown);
                    //alert("失败");
                },
                success: function (data, textStatus) {
                    //alert(JSON.stringify(data));
                    //alert(textStatus);
                    var status = data.status.toString();
                    if ("success" === status) {
                        document.getElementById("input_add_tag_" + tweet_id).value = "";
                        document.getElementById("input_add_tag_" + tweet_id).setAttribute("placeholder", data.info);
                        var td = document.getElementById("td_add_tag_" + tweet_id);
                        var tr = document.getElementById("tr_tags_" + tweet_id);

                        var subtd = document.createElement('td');
                        subtd.id = "td_tags_" + data.id;
                        subtd.setAttribute("class", "td_tags");
                        subtd.innerHTML = data.tag;

                        var img = document.createElement('img');
                        img.id = "delete_tweet_tag_btn_" + data.id;
                        img.setAttribute("class", "delete_tweet_tag_btn");
                        img.setAttribute("src", "/pictures/delete.png");
                        img.onclick = delete_tweet_tag;

                        subtd.appendChild(img);

                        tr.insertBefore(subtd, td);

                    } else {
                        document.getElementById("input_add_tag_" + tweet_id).value = "";
                        document.getElementById("input_add_tag_" + tweet_id).setAttribute("placeholder", data.info);
                    }
                }
            });
        });

        $('.delete_tweet_tag_btn').click(delete_tweet_tag);

        function delete_tweet_tag(param) {
            var tag_id = param.target.id.substr(21);
            $.ajax({
                type: "POST",
                url: "/sessions/delete_tag",
                data: {"tag_id": tag_id},
                dataType: "json",
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //alert(JSON.stringify(XMLHttpRequest));
                    //alert(textStatus);
                    alert(errorThrown);
                    //alert("失败");
                },
                success: function (data, textStatus) {
                    //alert(JSON.stringify(data));
                    //alert(textStatus);
                    var status = data.status.toString();
                    if ("success" === status) {
                        var td = document.getElementById("td_tags_" + tag_id);
                        var tr = td.parentNode;
                        tr.removeChild(td);
                    } else {
                        alert(data.info);
                    }
                }
            });
        }

        $('.tweet_thumbsup_btn').click(tweet_thumbsup_un_thumbsup);
        $('.tweet_unthumbsup_btn').click(tweet_thumbsup_un_thumbsup);

        $('.comment_thumbsup_btn').click(comment_thumbsup_un_thumbsup);
        $('.comment_unthumbsup_btn').click(comment_thumbsup_un_thumbsup);

        function tweet_thumbsup_un_thumbsup(param) {
            if (param.target.getAttribute("class") === "tweet_unthumbsup_btn") {
                tweet_un_thumbsup(param);
            } else {
                tweet_thumbsup(param);
            }
        }

        function comment_thumbsup_un_thumbsup(param) {
            if (param.target.getAttribute("class") === "comment_unthumbsup_btn") {
                comment_un_thumbsup(param);
            } else {
                comment_thumbsup(param);
            }
        }

        function comment_thumbsup(param) {
            var comment_id = param.target.id.substr(21);
            $.ajax({
                type: "POST",
                url: "/sessions/thumbsup_comment",
                data: {"comment_id": comment_id},
                dataType: "json",
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //alert(JSON.stringify(XMLHttpRequest));
                    //alert(textStatus);
                    alert(errorThrown);
                    //alert("失败");
                },
                success: function (data, textStatus) {
                    //alert(JSON.stringify(data));
                    //alert(textStatus);
                    var status = data.status.toString();
                    if ("success" === status) {
                        var btn = document.getElementById("comment_thumbsup_btn_" + comment_id);
                        btn.innerHTML = "取消点赞";
                        btn.id = "comment_unthumbsup_btn_" + comment_id;
                        btn.setAttribute("class", "comment_unthumbsup_btn");
                        btn.setAttribute("src", "/pictures/like2.png");
                        document.getElementById("comment_thumbsup_num_" + comment_id).innerHTML = data.num;
                    } else {
                        alert(data.info);
                    }
                }
            });
        }

        function comment_un_thumbsup(param) {
            var comment_id = param.target.id.substr(23);
            $.ajax({
                type: "POST",
                url: "/sessions/unthumbsup_comment",
                data: {"comment_id": comment_id},
                dataType: "json",
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //alert(JSON.stringify(XMLHttpRequest));
                    //alert(textStatus);
                    alert(errorThrown);
                    //alert("失败");
                },
                success: function (data, textStatus) {
                    //alert(JSON.stringify(data));
                    //alert(textStatus);
                    var status = data.status.toString();
                    if ("success" === status) {
                        var btn = document.getElementById("comment_unthumbsup_btn_" + comment_id);
                        btn.innerHTML = "点赞";
                        btn.id = "comment_thumbsup_btn_" + comment_id;
                        btn.setAttribute("class", "comment_thumbsup_btn");
                        btn.setAttribute("src", "/pictures/like1.png");
                        document.getElementById("comment_thumbsup_num_" + comment_id).innerHTML = data.num;
                    } else {
                        alert(data.info);
                    }
                }
            });
        }


        function tweet_thumbsup(param) {
            var tweet = param.target.parentNode.parentNode;
            var tweet_id = tweet.id.substr(6);
            $.ajax({
                type: "POST",
                url: "/sessions/thumbsup",
                data: {"tweet_id": tweet_id},
                dataType: "json",
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //alert(JSON.stringify(XMLHttpRequest));
                    //alert(textStatus);
                    alert(errorThrown);
                    //alert("失败");
                },
                success: function (data, textStatus) {
                    //alert(JSON.stringify(data));
                    //alert(textStatus);
                    var status = data.status.toString();
                    if ("success" === status) {
                        var btn = document.getElementById("tweet_thumbsup_btn_" + tweet_id);
                        btn.innerHTML = "取消点赞";
                        btn.id = "tweet_unthumbsup_btn_" + tweet_id;
                        btn.setAttribute("src", "/pictures/like2.png");
                        btn.setAttribute("class", "tweet_unthumbsup_btn");
                        document.getElementById("tweet_thumbsup_num_span_" + tweet_id).innerHTML = data.num;
                    } else {
                        alert(data.info);
                    }
                }
            });
        }

        function tweet_un_thumbsup(param) {
            var tweet = param.target.parentNode.parentNode;
            var tweet_id = tweet.id.substr(6);
            $.ajax({
                type: "POST",
                url: "/sessions/unthumbsup",
                data: {"tweet_id": tweet_id},
                dataType: "json",
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //alert(JSON.stringify(XMLHttpRequest));
                    //alert(textStatus);
                    alert(errorThrown);
                    //alert("失败");
                },
                success: function (data, textStatus) {
                    //alert(JSON.stringify(data));
                    //alert(textStatus);
                    var status = data.status.toString();
                    if ("success" === status) {
                        var btn = document.getElementById("tweet_unthumbsup_btn_" + tweet_id);
                        btn.innerHTML = "点赞";
                        btn.id = "tweet_thumbsup_btn_" + tweet_id;
                        btn.setAttribute("src", "/pictures/like1.png");
                        btn.setAttribute("class", "tweet_thumbsup_btn");
                        document.getElementById("tweet_thumbsup_num_span_" + tweet_id).innerHTML = data.num;
                    } else {
                        alert(data.info);
                    }
                }
            });
        }


        function sure_transmit(content, tweet_id, error, success) {
            $.ajax({
                type: "POST",
                url: "/sessions/transmit",
                data: {"content": content, "tweet_id": tweet_id},
                dataType: "json",
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //alert(JSON.stringify(XMLHttpRequest));
                    //alert(textStatus);
                    alert(errorThrown);
                    //alert("失败");
                },
                success: function (data, textStatus) {
                    //alert(JSON.stringify(data));
                    //alert(textStatus);
                    var status = data.status.toString();
                    if ("success" === status) {
                        success(data);
                    } else {
                        error(data.info);
                    }
                }
            });
        }

        function transmit(param) {
            var tweet_id = param.target.parentNode.id.substr(10);
            var p_transmit = param.target.parentNode;
            var btn = param.target;
            var input = document.createElement('input');
            input.id = "input_transmit_" + tweet_id;
            input.setAttribute("class", "input_transmit");
            input.setAttribute("placeholder", "转发内容");
            p_transmit.insertBefore(input, btn);
            var sure = document.createElement('button');
            sure.type = "button";
            sure.id = "sure_transmit_" + tweet_id;
            sure.setAttribute("class", "sure_transmit");
            sure.innerHTML = "确定";
            p_transmit.insertBefore(sure, btn);
            var cancel = document.createElement('button');
            cancel.type = "button";
            cancel.id = "cancel_transmit_" + tweet_id;
            cancel.setAttribute("class", "cancel_transmit");
            cancel.innerHTML = "取消";
            cancel.onclick = function () {
                p_transmit.removeChild(input);
                p_transmit.removeChild(sure);
                p_transmit.removeChild(cancel);
                btn.hidden = false;
            };
            sure.onclick = function () {
                var content = input.value.toString();
                var error = function (info) {
                    input.value = '';
                    input.placeholder = info;
                };
                var success = function (data) {
                    window.location.href = "/personal_homepage/new?home_user_id=<%= @home_user_id %>";
                };
                sure_transmit(content, tweet_id, error, success);
            };
            p_transmit.insertBefore(cancel, btn);
            btn.hidden = true;
        }

        $('.transmit_btn').click(transmit);

        function sure_top_comment(comment, top, tweet, errorcallback, successcallback) {
            $.ajax({
                type: "POST",
                url: "/sessions/reply_top_comment",
                data: {"comment": comment, "tweet_id": tweet, "top_comment_id": top},
                dataType: "json",
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //alert(JSON.stringify(XMLHttpRequest));
                    //alert(textStatus);
                    alert(errorThrown);
                    //alert("失败");
                },
                success: function (data, textStatus) {
                    //alert(JSON.stringify(data));
                    //alert(textStatus);
                    var status = data.status.toString();
                    if ("success" === status) {
                        successcallback(data);
                    } else {
                        errorcallback(data.info);
                    }
                }
            });
        }

        function sure_comment(comment, reply, top, tweet, errorcallback, successcallback) {
            $.ajax({
                type: "POST",
                url: "/sessions/reply_comment",
                data: {"comment": comment, "tweet_id": tweet, "top_comment_id": top, "reply_comment_id": reply},
                dataType: "json",
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //alert(JSON.stringify(XMLHttpRequest));
                    //alert(textStatus);
                    alert(errorThrown);
                    //alert("失败");
                },
                success: function (data, textStatus) {
                    //alert(JSON.stringify(data));
                    //alert(textStatus);
                    var status = data.status.toString();
                    if ("success" === status) {
                        successcallback(data);
                    } else {
                        errorcallback(data.info);
                    }
                }
            });
        }

        function add_reply_comment(comment, top_comment_id, new_comment_id, reply_user_name) {
            var top_comment = document.getElementById("div_comment_" + top_comment_id);
            var div = document.createElement('div');
            div.id = "comment_" + new_comment_id;
            div.setAttribute("class", "d_comment");
            div.innerHTML = '<span><%=raw cu ? cu['name']:'' %> 回复 ' + reply_user_name + ' :</span>\n' +
                '<span>' + comment + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>\n' +
                '<img id="comment_thumbsup_btn_' + new_comment_id + '" class="comment_thumbsup_btn" src="/pictures/like1.png">\n' +
                '<span id="comment_thumbsup_num_' + new_comment_id + '">0</span>\n' +
                '<span id="comment_reply_num_' + new_comment_id + '">回复数:0</span>\n' +
                '<img id="reply_comment_btn_' + new_comment_id + '" class="reply_comment_btn" src="/pictures/comment.png">\n';
            top_comment.appendChild(div);
            document.getElementById("reply_comment_btn_" + new_comment_id).onclick = reply_comment;
            document.getElementById("comment_thumbsup_btn_" + new_comment_id).onclick = comment_thumbsup_un_thumbsup;
        }

        function add_top_cmment(tweet_id, top_comment_id, contents) {
            var tweet = document.getElementById("tweet_" + tweet_id);
            var text = document.getElementById("post_comment_" + tweet_id);
            var div = document.createElement('div');
            div.id = "div_comment_" + top_comment_id;
            div.setAttribute("class", "d_top_comment");
            div.innerHTML = '<p><%=raw cu ? cu['name']:'' %> 评论:</p>\n' +
                '<span class="top_comment_s">' + contents + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>\n' +
                '<img id="comment_thumbsup_btn_' + top_comment_id + '" class="comment_thumbsup_btn" src="/pictures/like1.png">\n' +
                '<span id="comment_thumbsup_num_' + top_comment_id + '">0</span>\n' +
                '<span id="top_reply_num_' + top_comment_id + '">回复数:0</span>\n' +
                '<img id="reply_top_comment_btn_' + top_comment_id + '" class="reply_top_comment_btn" src="/pictures/comment.png">\n';
            tweet.insertBefore(div, text);
            document.getElementById("reply_top_comment_btn_" + top_comment_id).onclick = reply_top_comment;
            document.getElementById("comment_thumbsup_btn_" + top_comment_id).onclick = comment_thumbsup_un_thumbsup;
        }

        function reply_top_comment(param) {
            var top_comment_id = param.target.parentNode.id.substr(12);
            var tweet_id = param.target.parentNode.parentNode.id.substr(6);
            var div = document.getElementById("div_comment_" + top_comment_id);
            var btn = document.getElementById("reply_top_comment_btn_" + top_comment_id);
            var input = document.createElement('input');
            input.id = "input_top_comment_" + top_comment_id;
            input.setAttribute("class", "input_top_comment");
            input.setAttribute("placeholder", "回复内容");
            div.insertBefore(input, btn);
            var sure = document.createElement('button');
            sure.type = "button";
            sure.id = "sure_top_comment_" + top_comment_id;
            sure.setAttribute("class", "sure_top_comment");
            sure.innerHTML = "确定";
            div.insertBefore(sure, btn);
            var cancel = document.createElement('button');
            cancel.type = "button";
            cancel.id = "cancel_top_comment_" + top_comment_id;
            cancel.setAttribute("class", "cancel_top_comment");
            cancel.innerHTML = "取消";
            cancel.onclick = function () {
                div.removeChild(input);
                div.removeChild(sure);
                div.removeChild(cancel);
                btn.hidden = false;
            };
            sure.onclick = function () {
                var comment = input.value.toString();
                var error = function (info) {
                    input.value = '';
                    input.placeholder = info;
                };
                var success = function (data) {
                    div.removeChild(input);
                    div.removeChild(sure);
                    div.removeChild(cancel);
                    btn.hidden = false;
                    add_reply_comment(comment, top_comment_id, data.new_comment_id, data.reply_user_name);
                    document.getElementById("top_reply_num_" + top_comment_id).innerHTML = "回复数:" + data.top_comment_reply_num;
                    document.getElementById("comment_num_" + tweet_id).innerHTML = "评论数:" + data.tweet_comment_num;
                };
                sure_top_comment(comment, top_comment_id, tweet_id, error, success);
            };
            div.insertBefore(cancel, btn);
            btn.hidden = true;
        }

        function reply_comment(param) {
            var comment_id = param.target.parentNode.id.substr(8);
            var top_comment_id = param.target.parentNode.parentNode.id.substr(12);
            var tweet_id = param.target.parentNode.parentNode.parentNode.id.substr(6);
            var div = document.getElementById("comment_" + comment_id);
            var btn = document.getElementById("reply_comment_btn_" + comment_id);
            var input = document.createElement('input');
            input.id = "input_comment_" + comment_id;
            input.setAttribute("class", "input_comment");
            input.setAttribute("placeholder", "回复内容");
            div.insertBefore(input, btn);
            var sure = document.createElement('button');
            sure.type = "button";
            sure.id = "sure_comment_" + comment_id;
            sure.setAttribute("class", "sure_comment");
            sure.innerHTML = "确定";
            div.insertBefore(sure, btn);
            var cancel = document.createElement('button');
            cancel.type = "button";
            cancel.id = "cancel_comment_" + comment_id;
            cancel.setAttribute("class", "cancel_comment");
            cancel.innerHTML = "取消";
            cancel.onclick = function () {
                div.removeChild(input);
                div.removeChild(sure);
                div.removeChild(cancel);
                btn.hidden = false;
            };
            sure.onclick = function () {
                var comment = input.value.toString();
                var error = function (info) {
                    input.value = '';
                    input.placeholder = info;
                };
                var success = function (data) {
                    div.removeChild(input);
                    div.removeChild(sure);
                    div.removeChild(cancel);
                    btn.hidden = false;
                    add_reply_comment(comment, top_comment_id, data.new_comment_id, data.reply_user_name);
                    document.getElementById("comment_reply_num_" + comment_id).innerHTML = "回复数:" + data.reply_comment_reply_num;
                    document.getElementById("top_reply_num_" + top_comment_id).innerHTML = "回复数:" + data.top_comment_reply_num;
                    document.getElementById("comment_num_" + tweet_id).innerHTML = "评论数:" + data.tweet_comment_num;
                };
                sure_comment(comment, comment_id, top_comment_id, tweet_id, error, success);
            };
            div.insertBefore(cancel, btn);
            btn.hidden = true;
        }

        $('.reply_top_comment_btn').click(reply_top_comment);
        $('.reply_comment_btn').click(reply_comment);

        $('.post_comment_btn').click(function (param) {
            var tweet_id = Number(param.target.id.substr(17));
            var comment = document.getElementById("post_comment_" + tweet_id).value.toString();
            $.ajax({
                type: "POST",
                url: "/sessions/post_comment",
                data: {"comment": comment, "tweet_id": tweet_id},
                dataType: "json",
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //alert(JSON.stringify(XMLHttpRequest));
                    //alert(textStatus);
                    alert(errorThrown);
                    //alert("失败");
                },
                success: function (data, textStatus) {
                    //alert(JSON.stringify(data));
                    //alert(textStatus);
                    var status = data.status.toString();
                    if ("success" === status) {
                        add_top_cmment(data.tweet_id, data.id, comment);
                        var comment_num = document.getElementById("comment_num_" + tweet_id);
                        comment_num.innerHTML = "评论数:" + data.num;
                    } else {
                        document.getElementById("post_comment_" + tweet_id).setAttribute("value", "");
                        document.getElementById("post_comment_" + tweet_id).setAttribute("placeholder", data.info);
                    }
                }
            });
        });
        $('#add_tag_btn').click(function () {
            var newtag = document.getElementById("newtag").value.toString();
            $.ajax({
                type: "POST",
                url: "/personal_homepage/add_tag",
                data: {"newtag": newtag},
                dataType: "json",
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //alert(JSON.stringify(XMLHttpRequest));
                    //alert(textStatus);
                    alert(errorThrown);
                    //alert("失败");
                }, /**/
                success: function (data, textStatus) {
                    //alert(JSON.stringify(data));
                    //alert(textStatus);
                    var status = data.status.toString();
                    if ("success" === status) {
                        $('#newtag').val('').attr("placeholder", data.info);
                        var tags = document.getElementById("tag_tr");

                        var td = document.createElement('td');
                        td.id = "tag_td_" + data.id;
                        td.innerHTML = '<div id="tag_div_' + data.id + '" class="tag_div">\n' +
                            '<span id="tag_span_' + data.id + '" class="tag_span">' + newtag + '</span>\n' +
                            '<img id="tag_btn_' + data.id + '" class="tag_btn" src="/pictures/delete.png">\n' +
                            '</div>';
                        var td1 = document.createElement('td');
                        td1.innerHTML = "&nbsp;&nbsp;&nbsp;&nbsp;";

                        tags.appendChild(td);
                        tags.appendChild(td1);
                        var btn = document.getElementById('tag_btn_' + data.id);
                        btn.onclick = delete_tag;


                    } else {
                        $('#newtag').val('').attr("placeholder", data.info);
                    }
                }
            });
        });

        function delete_tag(param) {
            var id = Number(param.target.id.substr(8));
            $.ajax({
                type: "POST",
                url: "/personal_homepage/delete_tag",
                data: {"id": id},
                dataType: "json",
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //alert(JSON.stringify(XMLHttpRequest));
                    //alert(textStatus);
                    alert(errorThrown);
                    //alert("失败");
                },
                success: function (data, textStatus) {
                    //alert(JSON.stringify(data));
                    //alert(textStatus);
                    var status = data.status.toString();
                    if ("success" === status) {
                        var element = document.getElementById("tag_td_" + id);
                        var tags = document.getElementById("tag_tr");
                        tags.removeChild(element);
                    } else {
                        alert(data.info);
                    }
                }
            });
        }

        $('.tag_btn').click(delete_tag);

        $('#update_password_btn').click(function () {
            var password = document.getElementById("npassword").value.toString();
            var password_repeat = document.getElementById("npassword_repeat").value.toString();
            $.ajax({
                type: "POST",
                url: "/personal_homepage/update_password",
                data: {"password": password, "password_repeat": password_repeat},
                dataType: "json",
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //alert(JSON.stringify(XMLHttpRequest));
                    //alert(textStatus);
                    alert(errorThrown);
                    //alert("失败");
                },
                success: function (data, textStatus) {
                    //alert(JSON.stringify(data));
                    //alert(textStatus);
                    var status = data.status.toString();
                    if ("success" === status) {
                        $('#npassword').val('').attr("placeholder", data.info);
                        $('#npassword_repeat').val('').attr("placeholder", "Repeat");
                    } else {
                        $('#npassword').val('').attr("placeholder", data.info);
                        $('#npassword_repeat').val('').attr("placeholder", "Repeat");
                    }
                }
            });
        });

        $('#read_all_btn').click(function () {
            $.ajax({
                type: "POST",
                url: "/personal_homepage/read_im_info",
                data: {"read_num": "all", "receiver_id": <%=@home_user_id%>},
                dataType: "json",
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //alert(JSON.stringify(XMLHttpRequest));
                    //alert(textStatus);
                    alert(errorThrown);
                    //alert("失败");
                },
                success: function (data, textStatus) {
                    //alert(JSON.stringify(data));
                    //alert(textStatus);
                    var status = data.status.toString();
                    if ("success" === status) {
                        $('#unread_num_span').html("0");
                        $('#unread_info_num_span').html("0");
                        document.getElementById("read_all_btn").disabled = true;
                        $('#read_all_text').html(data.info);
                        $('.read_im_info_text').html("已读");
                        var btns = document.getElementsByClassName("read_im_info_btn");
                        for (var i = 0; i < btns.length; i++) {
                            btns[i].disabled = true;
                        }
                    } else {
                        $('#read_all_text').html(data.info);
                    }
                }
            });
        });
        $('.read_im_info_btn').click(function (param) {
            var id = Number(param.target.id.substr(17));
            $.ajax({
                type: "POST",
                url: "/personal_homepage/read_im_info",
                data: {"read_num": "one", "info_id": id},
                dataType: "json",
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //alert(JSON.stringify(XMLHttpRequest));
                    //alert(textStatus);
                    alert(errorThrown);
                    //alert("失败");
                },
                success: function (data, textStatus) {
                    //alert(JSON.stringify(data));
                    //alert(textStatus);
                    var status = data.status.toString();
                    if ("success" === status) {
                        document.getElementById("read_im_info_btn_" + id).disabled = true;
                        document.getElementById("read_im_info_text_" + id).innerHTML = data.info;
                    } else {
                        document.getElementById("read_im_info_text_" + id).innerHTML = data.info;
                    }
                }
            });
        });

        function follow() {
            $.ajax({
                type: "POST",
                url: "/personal_homepage/follow",
                data: {"follower_id":<%=cu['id'].to_s%>, "user_id":<%=@home_user_id%>},
                dataType: "json",
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //alert(JSON.stringify(XMLHttpRequest));
                    //alert(textStatus);
                    alert(errorThrown);
                    //alert("失败");
                },
                success: function (data, textStatus) {
                    //alert(JSON.stringify(data));
                    //alert(textStatus);
                    var status = data.status.toString();
                    if ("success" === status) {
                        $('#follow_text').html("成功").attr("id", "unfollow_text");
                        $('#follow_btn').html("取关").attr("id", "unfollow_btn");
                        $('#unfollow_btn').click(unfollow);
                        $('#follow_div').attr("id", "unfollow_div");
                    } else {
                        $('#follow_text').val(data.info);
                    }
                }
            });
        }

        function unfollow() {
            $.ajax({
                type: "POST",
                url: "/personal_homepage/unfollow",
                data: {"follower_id":<%=cu['id'].to_s%>, "user_id":<%=@home_user_id%>},
                dataType: "json",
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //alert(JSON.stringify(XMLHttpRequest));
                    //alert(textStatus);
                    alert(errorThrown);
                    //alert("失败");
                },
                success: function (data, textStatus) {
                    //alert(JSON.stringify(data));
                    //alert(textStatus);
                    var status = data.status.toString();
                    if ("success" === status) {
                        $('#unfollow_text').html("成功").attr("id", "follow_text");
                        $('#unfollow_btn').html("关注").attr("id", "follow_btn");
                        $('#follow_btn').click(follow);
                        $('#unfollow_div').attr("id", "follow_div");
                    } else {
                        $('#unfollow_text').val(data.info);
                    }
                }
            });
        }

        $('#follow_btn').click(follow);
        $('#unfollow_btn').click(unfollow);

        $('#send_im_btn').click(function () {
            var im = document.getElementById('send_im').value.toString();
            $.ajax({
                type: "POST",
                url: "/personal_homepage/send_im_info",
                data: {"sender_id":<%=cu['id'].to_s%>, "receiver_id":<%=@home_user_id%>, "im": im},
                dataType: "json",
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //alert(JSON.stringify(XMLHttpRequest));
                    //alert(textStatus);
                    alert(errorThrown);
                    //alert("失败");
                },
                success: function (data, textStatus) {
                    //alert(JSON.stringify(data));
                    //alert(textStatus);
                    var status = data.status.toString();
                    if ("success" === status) {
                        $('#send_im').val("").attr("placeholder", data.info);
                    } else {
                        $('#send_im').val("").attr("placeholder", data.info);
                    }
                }
            });
        });
        $('#update_name_btn').click(function () {
            var name = document.getElementById('newname').value.toString();
            $.ajax({
                type: "POST",
                url: "/personal_homepage/update_name",
                data: {"newname": name},
                dataType: "json",
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //alert(JSON.stringify(XMLHttpRequest));
                    //alert(textStatus);
                    alert(errorThrown);
                    //alert("修改失败");
                },
                success: function (data, textStatus) {
                    //alert(JSON.stringify(data));
                    //alert(textStatus);
                    var status = data.status.toString();
                    if ("success" === status) {
                        $('#username').html(name);
                        $('#newname').val("").attr("placeholder", data.info);
                    } else {
                        $('#newname').val("").attr("placeholder", data.info);
                    }
                }
            });
        });
        $('#update_head_picture_btn').click(function () {
            var formData = new FormData($("#uploadForm")[0]);
            $.ajax({
                url: '/personal_homepage/update_head_picture',
                type: 'POST',
                data: formData,
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                dataType: "json",
                success: function (data, textStatus) {
                    var status = data.status.toString();
                    if ("success" === status) {
                        $('#home_user_head_picture').attr("src", data.new_url);
                    } else {
                        alert(data.info);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //alert(JSON.stringify(XMLHttpRequest));
                    //alert(textStatus);
                    alert(errorThrown);
                    //alert("修改失败");
                }
            });
        });
        $('#login').click(function () {
            var name = document.getElementById("name").value.toString();
            var password = document.getElementById("password").value.toString();
            $.ajax({
                type: "POST",
                url: "/sessions/create",
                data: {"name": name, "password": password},
                dataType: "json",
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //alert(JSON.stringify(XMLHttpRequest));
                    //alert(textStatus);
                    alert(errorThrown);
                    //alert("失败");
                },
                success: function (data, textStatus) {
                    //alert(JSON.stringify(data));
                    //alert(textStatus);
                    var status = data.status.toString();
                    if ("success" === status) {
                        window.location.href = "/sessions/new";
                    } else {
                        $('#name').val('').attr("placeholder", data.info);
                        $('#password').val('').attr("placeholder", "Password");
                        //$('#name').attr("placeholder", data.info);
                        //$('#password').attr("placeholder", "Password");
                    }
                }
            });
        });
        $('#logout').click(function () {
            $.ajax({
                type: "POST",
                url: "/sessions/logout",
                data: {},
                dataType: "json",
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //alert(JSON.stringify(XMLHttpRequest));
                    //alert(textStatus);
                    alert(errorThrown);
                    //alert("失败");
                },
                success: function (data, textStatus) {
                    //alert(JSON.stringify(data));
                    //alert(textStatus);
                    var status = data.status.toString();
                    if ("success" === status) {
                        window.location.href = "/sessions/new";
                    } else {
                        alert(data.info);
                        //$('#name').attr("placeholder", data.info);
                        //$('#password').attr("placeholder", "Password");
                    }
                }
            });
        });

        $('#search_btn').click(function () {
            var keyword = document.getElementById("input_search").value.toString();
            window.location.href = "/sessions/new?search=1&keyword=" + keyword;
        });
        $('.logo').click(function () {
            window.location.href = "/sessions/new";
        });
        $('.new_mail').click(function () {
            window.location.href = "/personal_homepage/new?home_user_id=<%= user_id%>#new_mail";
        })
    });
</script>
<footer class="footer">
  <h1>My Twitter 高级软件工程大作业</h1>
</footer>