<h3>PersonalHomepage</h3>
<%
  @home_user_id = params[:home_user_id]
  @home_user = User.get_user(params[:home_user_id])
  cu = session[:current_user]
  follows = Follow.get_follow(@home_user_id)
  fans = Follow.get_fans(@home_user_id)
%>
<div>
  <div id="username"><%= raw @home_user[:name] %></div>
  <% if cu['id'].to_s == @home_user_id %>
      <input type="text" placeholder="New Name" id="newname">
      <button type="button" id="update_name_btn">修改名字</button>
  <% end %>
  <p>I D:<%= raw @home_user[:id] %></p>
  <% if cu['id'].to_s == @home_user_id %>
      <input type="password" placeholder="New Password" id="password">
      <input type="password" placeholder="Repeat" id="password_repeat">
      <button type="button" id="update_password_btn">修改密码</button>
  <% end %>
  <% if cu['id'].to_s == @home_user_id %>
      <p>未读消息:<span id="unread_info_num_span"><%= @home_user[:unread_info_num] %></span></p>
  <% end %>
  <a href="/personal_homepage/new?home_user_id=<%= @home_user[:id] %>">
    <img id="home_user_head_picture" src="<%= @home_user[:head_picture] %>">
  </a>
  <% if cu['id'].to_s == @home_user_id %>
      <form action="/personal_homepage/update_head_picture" method="post" id="uploadForm" enctype="multipart/form-data">
        <input type="file" id="img_upload" name="img_upload" accept=".jpg,.gif,.png,.jpeg">
        <button type="button" id="update_head_picture_btn">修改头像</button>
      </form>
  <% end %>
</div>
<br>
<%
  if cu['id'].to_s == @home_user_id
    unread_im_infos = ImInfo.list_all_unread_im_info(@home_user_id)
    im_infos = unread_im_infos[:ims]
    if unread_im_infos[:num] > 0
%>
        <div id="unread_im_infos">
          <div>未读消息:<span id="unread_num_span"><%= unread_im_infos[:num] %></span> 条
            <button id="read_all_btn">全部标为已读</button>
            <div id="read_all_text"></div>
          </div>
          <%
            im_infos.each do |im_info|
          %>
              <p>from:<%= im_info[:username] %></p>
              <%
                im_info[:im].each do |info|
              %>
                  <div id="btn<%= info[:id] %>">
                    <%= raw info[:info] %>
                    <button id="read_im_info_btn_<%= info[:id] %>" class="read_im_info_btn">标为已读</button>
                    <div id="read_im_info_text_<%= info[:id] %>" class="read_im_info_text"></div>
                  </div>
              <%
                end
              %>
          <%
            end
          %>
        </div>
    <%
      end
    %>
<%
  end
  unless cu['id'].to_s == @home_user_id
%>
    <div id="send_im_info">
      <input type="text" placeholder="消息" id="send_im">
      <button type="button" id="send_im_btn">发送私信</button>
    </div>
    <%
      if Follow.is_follow(@home_user_id, cu['id'])
    %>
        <div id="unfollow_div">
          <div id="unfollow_text"></div>
          <button type="button" id="unfollow_btn">取关</button>
        </div>
    <% else %>
        <div id="follow_div">
          <div id="follow_text"></div>
          <button type="button" id="follow_btn">关注</button>
        </div>
    <% end %>
<% end %>
<script>
    $(document).ready(function () {

        $('#update_password_btn').click(function () {
            var password = document.getElementById("password").value.toString();
            var password_repeat = document.getElementById("password_repeat").value.toString();
            $.ajax({
                type: "POST",
                url: "/personal_homepage/update_password",
                data: {"password": password, "password_repeat": password_repeat},
                dataType: "json",
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //alert(JSON.stringify(XMLHttpRequest));
                    //alert(textStatus);
                    alert(errorThrown);
                    //alert("失败");
                },
                success: function (data, textStatus) {
                    //alert(JSON.stringify(data));
                    //alert(textStatus);
                    var status = data.status.toString();
                    if ("success" === status) {
                        $('#password').val('');
                        $('#password_repeat').val('');
                        $('#password').attr("placeholder", data.info);
                        $('#password_repeat').attr("placeholder", "Repeat");
                    } else {
                        $('#password').val('');
                        $('#password_repeat').val('');
                        $('#password').attr("placeholder", data.info);
                        $('#password_repeat').attr("placeholder", "Repeat");
                    }
                }
            });
        });

        $('#read_all_btn').click(function () {
            $.ajax({
                type: "POST",
                url: "/personal_homepage/read_im_info",
                data: {"read_num": "all", "receiver_id": <%=@home_user_id%>},
                dataType: "json",
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //alert(JSON.stringify(XMLHttpRequest));
                    //alert(textStatus);
                    alert(errorThrown);
                    //alert("失败");
                },
                success: function (data, textStatus) {
                    //alert(JSON.stringify(data));
                    //alert(textStatus);
                    var status = data.status.toString();
                    if ("success" === status) {
                        $('#unread_num_span').html("0");
                        $('#unread_info_num_span').html("0");
                        document.getElementById("read_all_btn").disabled = true;
                        $('#read_all_text').html(data.info);
                        $('.read_im_info_text').html("已读");
                        var btns = document.getElementsByClassName("read_im_info_btn");
                        for (var i = 0; i < btns.length; i++) {
                            btns[i].disabled = true;
                        }
                    } else {
                        $('#read_all_text').html(data.info);
                    }
                }
            });
        });
        $('.read_im_info_btn').click(function (param) {
            var id = Number(param.target.id.substr(17));
            $.ajax({
                type: "POST",
                url: "/personal_homepage/read_im_info",
                data: {"read_num": "one", "info_id": id},
                dataType: "json",
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //alert(JSON.stringify(XMLHttpRequest));
                    //alert(textStatus);
                    alert(errorThrown);
                    //alert("失败");
                },
                success: function (data, textStatus) {
                    //alert(JSON.stringify(data));
                    //alert(textStatus);
                    var status = data.status.toString();
                    if ("success" === status) {
                        document.getElementById("read_im_info_btn_" + id).disabled = true;
                        document.getElementById("read_im_info_text_" + id).innerHTML = data.info;
                    } else {
                        document.getElementById("read_im_info_text_" + id).innerHTML = data.info;
                    }
                }
            });
        });

        function follow() {
            $.ajax({
                type: "POST",
                url: "/personal_homepage/follow",
                data: {"follower_id":<%=cu['id'].to_s%>, "user_id":<%=@home_user_id%>},
                dataType: "json",
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //alert(JSON.stringify(XMLHttpRequest));
                    //alert(textStatus);
                    alert(errorThrown);
                    //alert("失败");
                },
                success: function (data, textStatus) {
                    //alert(JSON.stringify(data));
                    //alert(textStatus);
                    var status = data.status.toString();
                    if ("success" === status) {
                        $('#follow_text').html("成功");
                        $('#follow_text').attr("id", "unfollow_text");
                        $('#follow_btn').html("取关");
                        $('#follow_btn').attr("id", "unfollow_btn");
                        $('#unfollow_btn').click(unfollow);
                        $('#follow_div').attr("id", "unfollow_div");
                    } else {
                        $('#follow_text').val(data.info);
                    }
                }
            });
        }

        function unfollow() {
            $.ajax({
                type: "POST",
                url: "/personal_homepage/unfollow",
                data: {"follower_id":<%=cu['id'].to_s%>, "user_id":<%=@home_user_id%>},
                dataType: "json",
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //alert(JSON.stringify(XMLHttpRequest));
                    //alert(textStatus);
                    alert(errorThrown);
                    //alert("失败");
                },
                success: function (data, textStatus) {
                    //alert(JSON.stringify(data));
                    //alert(textStatus);
                    var status = data.status.toString();
                    if ("success" === status) {
                        $('#unfollow_text').html("成功");
                        $('#unfollow_text').attr("id", "follow_text");
                        $('#unfollow_btn').html("关注");
                        $('#unfollow_btn').attr("id", "follow_btn");
                        $('#follow_btn').click(follow);
                        $('#unfollow_div').attr("id", "follow_div");
                    } else {
                        $('#unfollow_text').val(data.info);
                    }
                }
            });
        }

        $('#follow_btn').click(follow);
        $('#unfollow_btn').click(unfollow);

        $('#send_im_btn').click(function () {
            var im = document.getElementById('send_im').value.toString();
            $.ajax({
                type: "POST",
                url: "/personal_homepage/send_im_info",
                data: {"sender_id":<%=cu['id'].to_s%>, "receiver_id":<%=@home_user_id%>, "im": im},
                dataType: "json",
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //alert(JSON.stringify(XMLHttpRequest));
                    //alert(textStatus);
                    alert(errorThrown);
                    //alert("失败");
                },
                success: function (data, textStatus) {
                    //alert(JSON.stringify(data));
                    //alert(textStatus);
                    var status = data.status.toString();
                    if ("success" === status) {
                        $('#send_im').val("");
                        $('#send_im').attr("placeholder", data.info);
                    } else {
                        $('#send_im').val("");
                        $('#send_im').attr("placeholder", data.info);
                    }
                }
            });
        });
        $('#update_name_btn').click(function () {
            var name = document.getElementById('newname').value.toString();
            $.ajax({
                type: "GET",
                url: "/personal_homepage/update_name",
                data: {"newname": name},
                dataType: "json",
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //alert(JSON.stringify(XMLHttpRequest));
                    //alert(textStatus);
                    alert(errorThrown);
                    //alert("修改失败");
                },
                success: function (data, textStatus) {
                    //alert(JSON.stringify(data));
                    //alert(textStatus);
                    $('#username').html("用户:" + name)
                }
            });
        });
        $('#update_head_picture_btn').click(function () {
            var formData = new FormData($("#uploadForm")[0]);
            $.ajax({
                url: '/personal_homepage/update_head_picture',
                type: 'POST',
                data: formData,
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                dataType: "json",
                success: function (data, textStatus) {
                    $('#home_user_head_picture').attr("src", data.new_url);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //alert(JSON.stringify(XMLHttpRequest));
                    //alert(textStatus);
                    alert(errorThrown);
                    //alert("修改失败");
                }
            });
        });
    });
</script>
<h4>他(她)的关注:</h4>
<div>
  <%
    follows.each do |u|
  %>
      <div id="follow<%= u[:id] %>">
        <p>用户:<%= u[:name] %></p>
        <p>I D:<%= u[:id] %></p>
        <a href="/personal_homepage/new?home_user_id=<%= u['id'] %>">
          <img src="<%= raw u[:head_picture] %>">
        </a>
      </div>
  <%
    end
  %>
</div>
<h4>他(她)的粉丝</h4>
<div>
  <%
    fans.each do |u|
  %>
      <div id="follow<%= u[:id] %>">
        <p>用户:<%= u[:name] %></p>
        <p>I D:<%= u[:id] %></p>
        <a href="/personal_homepage/new?home_user_id=<%= u['id'] %>">
          <img src="<%= raw u[:head_picture] %>">
        </a>
      </div>
  <%
    end
  %>
</div>